<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>EvRider</title>
</head>
<body>
  <h1>EvRider Review App</h1>
 <div><strong>A few featured/popular electric rideable vehicles.</strong></div>

  <a href="/evRides/oneWheel">
    <img src= "https://i.imgur.com/zQTFpZ5.png" alt= "OneWheel Img"/>
    </a>

    <a href="/evRides/boosted">
        <img src= "https://i.imgur.com/TazZCG0.png" alt= "boosted Img"/>
      </a>

      <a href="/evRides/segway">
        <img src= "https://i.imgur.com/Z8btvJh.png" alt= "segway Img"/>
      </a>

      <a href="/evRides/vanmoof">
        <img src= "https://i.imgur.com/vP0Dftl.jpg" alt= "vanmoof Img"/>
      </a>
  
      <a href="/evRides/ktm">
        <img src= "https://i.imgur.com/pnEOJQt.png" alt= "KTM Img"/>
      </a>

      <a href="/evRides/gotrax">
        <img src= "https://i.imgur.com/WzTfnVK.png" alt= "gotrax Img"/>
      </a>

</body>
</html>
