<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Boosted Boards</title>
</head>
<header><h1>Boosted Boards</h1></header>
<body>
  <main>
    <!-- <script>

    function showImage(req, res){

      window.location.href= "http://localhost:3000/evRides/show/showImage?image_path="+"https://i.imgur.com/swSN8sV.jpg";
    }
    </script> -->

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/swSN8sV.jpg" alt="Boosted Board Stealth" name="Stealth"/> </a>
      <h1>Boosted Stealth</h1>
    <p id="Boosted Boards" name="Stealth">
      Infromation about this board
      </p>
      
    


    <a href="/evRides/show">
      <img src= "https://i.imgur.com/WJjJuOT.jpg" alt= "Boosted Mini X Img" name="MiniX" /></a>
    <h1>Boosted Mini X</h1>
    <p id="Boosted Boards" name="MiniX">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/e1Ykt2B.jpg" alt= "Boosted Plus V3 Img" name="PlusV3"/></a>
    <h1>Boosted Plus V3</h1>
    <p id="Boosted Boards" name="Plus V3">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/kkB8jPm.jpg" alt= "Boosted Mini Img" name="Mini"/></a>
    <h1>Boosted Mini</h1>
    <p id="Boosted Boards" name="Mini">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>

    
    
  </main>
</body>
<a href="/"><h3>Main Page</h3></a>
</html>
