<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Boosted Boards</title>
</head>
<header><h1>Boosted</h1></header>
<body>
  <main>
    <a href="/evRides/show">
      <img src= "https://i.imgur.com/swSN8sV.jpg" id="Boosted Board Stealth" name="Stealth"/>
    </a>
    <h3>Boosted Stealth</h3>


    <a href="/evRides/show">
      <img src= "https://i.imgur.com/WJjJuOT.jpg" alt= "Boosted Mini X Img"/>
    </a>
    <h3>Boosted Mini X</h3>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/e1Ykt2B.jpg" alt= "Boosted Plus V3 Img"/>
    </a>
    <h3>Boosted Plus V3</h3>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/kkB8jPm.jpg" alt= "Boosted Mini Img"/>
    </a>
    <h3>Boosted Mini</h3>

    
    
  </main>
</body>
<a href="/"><h3>Main Page</h3></a>
</html>
