<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/style.css' />
  <title>gotrax</title>
</head>
<body>

  <mian>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/rEBO8wc.jpg" alt= "gotrax scooter"/>
    </a>
    <h3>GoTrax GXL V2 Scooter</h3>

  </mian>
  
</body>
<a href="/"><h3>Main Page</h3></a>
</html>
