<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <title>eVrides</title>
</head>
<body>
    <h1>EV</h1>
    <a href="/"><h3>Go Back Home</h3></a>
    <a href="/evRides/new"><h3>Add a new review</h3></a>

    <table>
        <thead>
            <th>Review Product</th>
            
        </thead>
          <tbody>
            <% evRides.forEach(evRide => { %>
                <tr>
                    <td><%= evRide.evRide %></td>
                    <td><%= evRide.vote %></td>
                    
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
