<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KTM EV</title>
  <header>KTM | EV</header>
</head>
<body>
  <main>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/z2Id5y5.jpg" alt= "KTM Freeride" name="ktm"/>
    </a>
    <h3>KTM Freeride</h3>
    <p id="ktm" name="freeride">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>


  </main>
  
</body>
<a href="/"><h3>Main Page</h3></a>
</html>
