<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Segway</title>
</head>
<header><h1>Segway</h1></header>
<body>

  <main>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/HD2GUzZ.jpg" alt= "Segway ninebotcart Img" name="gocart"/>
    </a>
    <h3>Segway ninebot Kart</h3>
    <p id="segway" name="GoCart">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/Bk5ryYh.jpg" alt= "Segway ninebotcart minilite Img" name="minilite"/>
    </a>
    <h3>Segway ninebot minilite</h3>
    <p id="segway" name="minilite">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/UKmnkHB.jpg" alt= "Segway ninebotcart scooter Img" name="scooternine"/>
    </a>
    <h3>Segway ninebot scooter</h3>
    <p id="segway" name="scooternine">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/iyhPxX9.jpg" alt= "Segway ninebotcart A1 Uni Img" name="unicycle"/>
    </a>
    <h3>Segway ninebot A1 Unicycle</h3>
    <p id="segway" name="unicycle">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>

    <a href="/evRides/show">
      <img src= "https://i.imgur.com/FepeM90.jpg" alt= "Segway ninebotcart W1 Drift" name="skates"/>
    </a>
    <h3>Segway ninebot W1 Drift</h3>
    <p id="segway" name="skates">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </p>


  </main>
  
</body>
<a href="/"><h3>Main Page</h3></a>
</html>
