<%- include('../partials/header'); %>

<section id="show-page">
  <div>Title: </div>
  <div></div>
  <div>Name:</div>
  <div></div>
  <div>Reviews: </div>
  <div></div>
  <div>Ratings: </div>
  <div></div>
</section>




<h2>Add a Review!</h2>

<form id="add-review-form" method="POST"
 action="/evRides/show">
 <label>Review:</label>
 <textarea name="content"></textarea>
 <label>Rating:</label>
 <select name="rating">
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
 </select>
 <input type="submit" value="Add Review">
</form>


  
<%- include('../partials/footer'); %>
