<%- include('../partials/header'); %>

<section id="show-page">
  <div>Image: </div>
  <div></div>
  <div>Make:</div>
  <div></div>
  <div>Model:</div>
  <di></di>
  <div>Price: </div>
  <div></div>
  <div>Range: </div>
  <div></div>
  <div>Speed: </div>
  <div></div>
  <div>Reviews: </div>
  <div><%= evRide %></div>
</section>




<h2>Add a Review!</h2>

<form id="add-review-form" method="POST"
 action="/evRides">
 <label>Review:</label>
 <textarea name="content"></textarea>
 <label>Rating:</label>
 <select name="rating">
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
 </select>
 <input type="submit" value="Add Review">
</form>


  
<%- include('../partials/footer'); %>
